 .quote {
   font-style : bold;
   color : black;
   font-size : 25px;
 }
 #MyId {
   color : Green;
   font-style : bold;
 
 }
 .grid-table {
	display:grid;
	grid-template-rows : auto auto;
	grid-template-columns : auto auto auto;
 }
 
 .container {
	max-width:900px;
	margin: 0 auto;
 } 
 .intro {
 text-align : center;
 }

.about-grid {
	 display : grid;
	 grid-template-columns: 50% 50%;
  }
  
 @media (max-width: 480px) {  
	 .about-grid {
	 display : grid;
	 grid-template-columns: 100%;
	  } 

  
 } 
 .i-am, .i-like {
 text-align: center;
 text-decoration: none;
 }
 .about-list {
 list-style:none;
 padding: 0;
 }
 
 .projects-heading {
 text-align: center;
 }
 
 .projects-grid {
 display : grid;
 grid-template-columns: 50% 50%;
 }
 
 .project-image {
justify-self: center;
padding: 5%; 
 }
 
 @media (max-width: 600px) {  
  .projects-grid {	
	grid-template-columns: 100%;
	}
 }
 
 .links-and-contactlist {
	 display : grid;
	 grid-template-columns: 30% 70%;
 }
.links {
	justify-self: center;
} 
.link-list {
	list-style: none;
	padding: 0;
}

@media (max-width: 600px) { 
.links-and-contactlist {
	 /* display : grid; */
	 grid-template-columns: 100%;
 }
}